#odyp{
  color: white;
}
body{
  color: aliceblue;
  margin: 0;
  padding: 0;
}
.button{
  border-radius: 10px;
  color: aliceblue;
}
h1{
  color: whitesmoke;
  text-align: center;
}
h2{
  text-align: left;
  color: yellow;
}
#card1{
  background-color: thistle;
  background-image: url(../Images/5\ Outstanding\ Pizza\ Places\ in\ Chicago\ You\ Must\ Try.jpeg);
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
    /* You may add things like width, height, background-size... */
}
#information{
  text-align: center;
  color: yellow;
}
.order{
  background-attachment: fixed;
  background-image: url("../images/slider2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 4%;
  padding-bottom: 4%;
}